.product-item {
  width: 40vw;
  /* border: red 1px solid; */
}
.product-item_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.product-item_title {
  font-size: 0.75rem;
  text-overflow: ellipsis;
  overflow: hidden;
  /* Addition lines for 2 line or multiline ellipsis */
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.product-item_saving {
  font-size: 0.75em;
  font-weight: 500;
  color: #ec0439;
}
.product-item_saving_line {
  font-size: 0.75em;
  font-weight: 500;
  color: rgba(66, 66, 66, 0.8);
  text-decoration: line-through;
}
.product-item_price {
  font-size: 0.75em;
  font-weight: 500;
  color: rgba(66, 66, 66, 0.8);
}
