/* 
  Bootstrap
*/
.background-color {
  background-color: #f8f8fc;
}

/* 
  End Bootstrap
*/
/* 
  Carousel
*/

/* 
  End Carousel
*/

/* 
  Product Item
*/
.product-item {
  width: 120px;
  margin: 8px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.product-item_content {
  padding: 0 10px;
  position: relative;
}
.product-item_image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
.product-item_title {
  font-size: 0.75rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  line-height: 1.25em;
  min-height: 2.5em;
  /* border: red 1px solid; */
}
.product-item_saving_line {
  font-size: 0.75em;
  font-weight: 500;
  color: #424242;
  text-decoration: line-through;
}
.product-item_price {
  font-size: 0.875em;
  font-weight: 560;
  color: #424242;
}
.product-item_promo-flag {
  position: absolute;
  bottom: 1rem;
  right: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(176, 0, 0);
  font-size: 0.55rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  padding: 0px 4px;
}

@media (min-width: 1200px) {
  .product-item {
    width: 200px;
  }
  .product-item_image {
    width: 200px;
    height: 200px;
  }
  .product-item_title {
    font-size: 0.875rem;
  }
  .product-item_saving_line {
    font-size: 0.85em;
  }
  .product-item_price {
    font-size: 1.5em;
  }
  .product-item_promo-flag {
    font-size: 0.75rem;
  }
}
/* 
  End Product Item
*/

/* 
  Product Detail
*/
figure.image img {
  width: 75vw;
}
/* 
  End Product Detail
*/
